.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; /* or absolute if parent has position: relative */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* or set a specific width */
  height: 100vh;
  margin-top: 100px;
}
.error-title {
  font-family: "Geist", sans-serif;
  font-style: normal;
  color: rgb(237, 237, 237);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.error-subTitle {
  font-family: "Geist Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: rgb(136, 136, 136);
  margin: 0;
  text-align: center;
}

.error-btn {
  outline: none;
  border: none;
  padding: 9px 15px;
  margin-top: 20px;
  border-radius: 7px;
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: rgb(136, 136, 136);
  text-align: center;
  background: rgb(237, 237, 237);
}
.error-btn:hover {
  background: rgba(237, 237, 237, 0.37);
  color: rgb(237, 237, 237);
  cursor: pointer;
}
